<h1>Add Movie</h1>

<form>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input #title type="text" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea #description class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label for="imageUrl" class="form-label">ImageUrl</label>
    <input #imageUrl type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">Category</label>
    <select #categoryId class="form-select">
      <option value="">Seçiniz...</option>
      <option *ngFor="let item of categories" [value]="item.id">
        {{ item.title }}
      </option>
    </select>
  </div>

  <button
    class="btn btn-primary"
    (click)="addMovie(title, description, imageUrl, categoryId)"
  >
    Add
  </button>
</form>
