<div class="card mb-3">
    <div class="row">
      <div class="col-md-3">
        <img src="/assets/img/1.jpeg" class="img-fluid rounded-start" alt="" />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h4 class="card-title">SHAZAM</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/img/2.jpeg" class="img-fluid rounded-start" alt="" />
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h4 class="card-title">AMAZING GRACE ARETHA FRANKLIN</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button class="btn btn-sm btn-outline-primary">Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/img/3.jpeg" class="img-fluid rounded-start" alt="" />
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h4 class="card-title">HIGH LIFE</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button class="btn btn-sm btn-outline-primary">Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/img/4.jpeg" class="img-fluid rounded-start" alt="" />
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h4 class="card-title">BILBOARD</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button class="btn btn-sm btn-outline-primary">Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/img/5.jpeg" class="img-fluid rounded-start" alt="" />
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h4 class="card-title">STORM BOY</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button class="btn btn-sm btn-outline-primary">Details</button>
          </div>
        </div>
      </div>
    </div>
