<div *ngIf="movies.length > 0; else noMovies">
  <div class="alert alert-warning">{{ movies.length }} movies found.</div>

  <ng-template
    [ngTemplateOutlet]="popularMovies"
    [ngTemplateOutletContext]="{ movies: movieRepository.getPopularMovies() }"
  ></ng-template>
  <ng-template [ngTemplateOutlet]="movieList1"></ng-template>
 

</div>

<ng-template #popularMovies let-popularList="movies">
  <h2>Popular Movies</h2>
  <div class="row row-cols-1 row-cols-md-5 g-4 mb-3">
    <div class="col" *ngFor="let item of popularList">
      <div class="card h-100">
        <img
          src="/assets/img/{{ item.imageUrl }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.title | titlecase }}</h5>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noMovies>
  <div class="alert alert-warning">Movies not found. Please try again.</div>
</ng-template>
<ng-template #movieList1>
  <h2>{{ title }}</h2>

  <div class="card mb-3" *ngFor="let item of movies">
    <div class="row">
      <div class="col-md-2">
        <img
          src="/assets/img/{{ item.imageUrl }}"
          class="img-fluid rounded-start"
          alt=""
        />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-text">
            {{ item.description | summary}}
          </p>
           <p class="card-text">
            {{ item.publishedDate | date:'dd/MM/y'}}
          </p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #movieList3 let-populerMovies="movies">
  <h2>Popular Movies</h2>
  <div class="card mb-3" *ngFor="let item of populerMovies">
    <div class="row">
      <div class="col-md-2">
        <img
          src="/assets/img/{{ item.imageUrl }}"
          class="img-fluid rounded-start"
          alt=""
        />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-text">
            {{ item.description }}
          </p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


