<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">{{ getName() }}'s Todo List</h3>
      <div class="input-group mb-3">
        <input
          #input
          type="text"
          class="form-control"
          [(ngModel)]="inputText"
          (keyup.enter)="addItem()"
        />
        <!-- //        (blur)="addItem(input.value)"/> -->
        <button [class]="getBtnClasses()" class="btn" (click)="addItem()">
          Add
        </button>
      </div>
      <div class="form-check mb-3">
        <input
          type="checkbox"
          [(ngModel)]="displayAll"
          class="form-check-input"
          name=""
          id="displayAll"
        />
        <label form="displayAll" class="form-check-label">Show All</label>
      </div>

      <div
        class="alert alert-warning"
        *ngIf="getItems().length == 0; else itemsTable"
      >
        All missions completed.
      </div>

      <ng-template #itemsTable>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of getItems(); let i = index"
              [class]="{
                'bg-primary': item.action,
                'bg-warning': !item.action
              }"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.description }}</td>
              <td>
                <!-- if else bloğu -->

                <!-- <div *ngIf="item.action">Yes</div>
                <div *ngIf="!item.action">No</div> -->

                <!-- <div [ngSwitch]="item.action">
                  <div *ngSwitchCase="true">Yes</div>
                  <div *ngSwitchDefault>No</div>
                </div> -->

                <!-- <div *ngIf="item.action; else noTemplate">
                  Yes
                </div>
                <ng-template #noTemplate>
                  No
                </ng-template> -->

                <!-- if-then bloğu -->
                <!-- <div *ngIf="item.action; then noTemplate">
                  Burası  asla gösterilmez!!
                </div>
                <ng-template #noTemplate>
                  No
                </ng-template> -->
                <!-- if-then-else bloğu -->
                <div *ngIf="item.action; then yesTemplate; else noTemplate">
                  Burası asla gösterilmez!!
                </div>
                <ng-template #yesTemplate> Yes </ng-template>
                <ng-template #noTemplate> No </ng-template>
              </td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="item.action"
                  name=""
                  id=""
                />
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <div class="my-2">
        <p style="text-align: center">
          {{ displayCount() }} missions completed.
        </p>
      </div>
    </div>
  </div>
</div>
